body
{
    font-family: Inprimis;
    background-color: #eaeaea;
}


/*changing the navbar text color*/

.nav.navbar-nav li a {
    color: white;
}


/*changing the text when hover*/

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    background-color: #0a3448 ;
    color:#68b16b;
}


/*lon el navbar w al border*/
.navbar-inverse {
    background-color:  #0a3448;
    border-color:  #0a3448;
}

/*el hover ll links*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: white;
    background-color: #0a3448;
}


/* el font ll text w hagmo*/
.navbar-nav {
font:  1.1em Inprimis;
    font-style: italic;
}

/*tol el navbar*/
.navbar-nav li a {
    line-height: 35px;
    height: 55px;
}

/* ama a3ml collapse ll navbar */

.navbar .container-fluid .navbar-header .collapse .navbar-collapse
{
margin-top: -20%;
}

.green
{
    color: white;
    font-weight: normal;
    font-size: 40px;
    font-style: italic;
}
.ment
{
    color: #4CAF50;
    font-weight: bold;
    font-style: italic;
}

#section1
{
    margin-top: 25%;
    background-color: #d0d9c9;
}

h2
{
     color:  #0a3448;
    font-weight: bold;
    font-size: 20px;
}

/* El form*/
 #google
{
    background-color: #db4633;
    color: white;
     border-radius: 20px;
    font-size: 15px;
    width:55;

}

#g
{
    font-weight: bold;
     font-family:monospace;
}

#f
{
    font-weight: bold;
    font-family:monospace;
}
/*facebook button*/

 #facebook
{
    background-color: #3b579d;
    color: white;
     border-radius: 20px;
    font-size: 15px;
    width:55;

}

#login
{
    width: 55%;
    margin-top: -3%;
    margin-bottom: 5%;

}

#h4
{
    color: #3b579d;
    font-weight: bold;
    margin-left: 35%;
    text-decoration: none;

}

.close {
    color: #fff;
    opacity: 1;
}
.close:hover {
    color: #fff;
    opacity: 1;
}

#modelheader
{
    background-color: #0a3448;
    color: white;
}


#modelbody
{
    background-color: #eaeaea;
}

#firstname
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}

#lastname
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}

#email
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}
#pass
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}
#date
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}
#tele
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}
#relative
{
    color:  #0a3448;
    font-weight: bold;
    font-size: 15px;
}
#one
{
    color:  #0a3448;
}

#signup
{
    margin-top: 5%;
    background-color:  #0a3448;
    color: white;
}
hr
{
    height: 10px;
	border: 0;
	box-shadow: 0 10px 5px -10px #1c475b inset;
}

#section2
{
    margin-top: 2%;
    background-color: #d0d9c9;
}

#section3
{
    background-color: #d0d9c9;
}
#section4
{
    background-color: #d0d9c9;
}

#section5
{
    background-color: #d0d9c9;
}
#section6
{
    background-color: #d0d9c9;
}
#member
{
    margin-top: 5%;
    background-color:  #0a3448;
    color: white;
}
#drug
{
    margin-top: 8%;
    background-color:  #0a3448;
    color: white;

}

#rightsection
{
    margin-top: 10%;
}


h3
{
    margin-top: 2%;

}

#drop
{
    margin-top: 5%;
}

#donate
{
     background-color:  #0a3448;
    color: white;
    margin-top: 3%;
}

#drop2
{
    margin-top: 2%;
/*    margin-left: 15%;*/
    background-color: #0a3448;
    color: white;
}

#drop3
{
    margin-top: 2%;
/*    margin-left: 60%;*/
    background-color: #0a3448;
    color: white;
}

#drop4
{
    margin-top: 2%;
/*    margin-left: 85%;*/
    background-color: #0a3448;
    color: white;
}

#searchbtn
{
    margin-top: 4%;
}

h1
{
    color:  #0a3448;
    font-weight: bolder;
}


/*footer*/

.footer {
    background:  #041c28 none repeat scroll 0 0;
    border-top: 4px solid #fcab0e;
    margin: 0;
    padding: 20px 0;
}
.footer_dv {
    width: 80%;
    margin-left: 5%;
}
.footer_dv h4 {
    color: #fcab0e;
    font-family: roboto;
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.footer_dv ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
    margin-left: 8%;
}
.footer_dv ul li {
    border-top: medium none;
    box-shadow: none;
}

.footer_dv ul li {
    border-top: 1px solid #000;
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.2);
    color: #f1f2f2;
    padding: 5px 0;
}

.green2
{
    color: white;
    font-weight: normal;
    font-size: 85px;
    font-style: italic;
}
.ment2
{
    color: #4CAF50;
    font-weight: bold;
    font-style: italic;
     font-size: 40px;
}

.greemint
{
    margin-left: 30%;
    margin-top: 10%;
}


@media(max-width:290px)
    {
        .green2
        {
            font-size: 50px;
        }
        .ment2
        {
            font-size: 25px;
        }
    }
